.container{
      height: 500px; 
     /* border: 2px solid black; */
}
.item1,.item2{
    /*height: 300px;*/
    /*border: 2px solid black;*/
    /*margin: 2px;*/
    text-align: center;
}
.a1,.a2,.a3,.a4,.b1,.b2,.b3,.b4{
    /*height: 250px;*/
    width: 300px;
    /*border: 2px solid black;*/
    display: inline-block;
    position: relative;
}

img{
    width: 100%;
}
h3{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black ;
    color: white;
    background-color: black;
    font-weight: 600;
    margin: 0px;

}


